name: Publish worker

on:
  push:
    branches:
      - main

jobs:
  publish-worker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: denoland/setup-deno@main
    - name: Bundle worker
      run: deno bundle sw.ts sw.js
    - name: Publish with wrangler
      uses: cloudflare/wrangler-action@1.2.0
      with:
        apiToken: ${{ secrets.CF_API_TOKEN }}
